#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>
/ {
    chosen {
        zephyr,display = &st7789v;
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
    
    aliases {
        bl = &backlight;
    };
    
    leds {
        compatible = "gpio-leds";
        backlight: backlight-led {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
        };
    };
    
    pwmleds {
        compatible = "pwm-leds";
    };
    
    mipi_dbi_st7789v {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi4>;
        dc-gpios = <&gpio1 0x09 GPIO_ACTIVE_HIGH>;
        
        write-only;
        
        #address-cells = <1>;
        #size-cells = <0>;
        
        st7789v: st7789v@0 {
            compatible = "sitronix,st7789v";
            mipi-max-frequency = <DT_FREQ_M(20)>;
            reg = <0>;
            x-offset    = <0>;
            y-offset    = <0>;
            width       = <240>;
            height      = <320>;
            vcom = <0x19>;
            gctrl = <0x35>;
            vrhs = <0x12>;
            vdvs = <0x20>;
            mdac = <0xc0>;
            gamma = <0x01>;
            colmod = <0x55>;
            lcm = <0x2c>;
            porch-param = [0c 0c 00 33 33];
            cmd2en-param = [5a 69 02 01];
            pwctrl1-param = [a4 a1];
            pvgam-param = [D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23];
            nvgam-param = [D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23];
            ram-param = [00 F0];
            rgb-param = [CD 08 14];
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            
        };
    };
};

/ {
    chosen {
        zephyr,touch = &xpt2046;
    };
    
    lvgl_pointer {
        compatible ="zephyr,lvgl-pointer-input";
        input = <&xpt2046>;
    };
    
};

&spi4 {
    status = "okay";
    cs-gpios = <
    &gpio1 12 GPIO_ACTIVE_LOW   /* CS0 */
    &gpio1 6 GPIO_ACTIVE_LOW   /* CS1 */
    >;
    
    xpt2046: xpt2046@1 {
        compatible = "xptek,xpt2046";
        reg=<1>;
        int-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>; 
        touchscreen-size-x = <240>;
        touchscreen-size-y = <320>;
        min-x = <0>;
        min-y = <0>;
        max-x = <4000>;
        max-y = <4000>;
        spi-max-frequency = <2000000>;
        status = "okay";
    };
};

&spi4_default {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
        <NRF_PSEL(SPIM_MISO, 1, 14)>,
        <NRF_PSEL(SPIM_MOSI, 1, 13)>,
        <NRF_PSEL(SPIM_CSN, 1, 12)>;
    };
};

&spi4_sleep {
    group1 {
        psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
        <NRF_PSEL(SPIM_MISO, 1, 14)>,
        <NRF_PSEL(SPIM_MOSI, 1, 13)>,
        <NRF_PSEL(SPIM_CSN, 1, 12)>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
