[Unit]
Description=Minitel 3 handling service
Requires=minipavi.service
After=minipavi.service

[Service]
ExecStart=/home/phil/minitel/install/bridgeMinitel/minitel.sh
Restart=always
RestartSec=1

# logs "journalctl -u minitel-3-loop"
StandardOutput=journal
StandardError=journal

WorkingDirectory=/tmp
Environment="SerPort=/dev/ttyUSB2"

User=phil

[Install]
WantedBy=multi-user.target
